body{
font-family: Arial;
text-align:center;
margin:40px;
}

table{
margin:auto;
border-collapse: collapse;
}

td{
padding:5px;
}

input{
width:60px;
text-align:center;
}

button{
padding:10px;
margin:10px;
}